@import "tailwindcss";

@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: modalEnter 0.25s ease-out;
}
button,icon{
  cursor: pointer !important;
}
